:host {
  display: flex;
  flex-direction: column;
  background-color: #f7f9fd;
  padding: 24px;
}

.logo {
  display: flex;
  color: #005da1;
  margin-bottom: 36px;
}

h1 {
  font-size: 24px;
}

img {
  margin-right: 12px;
}

nav {
  display: flex;
  flex-direction: column;

  & > * {
    padding: 12px 24px;
    background-color: #c2e7ff;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
